/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
    font-family: Arial;
}

p {

}

a {

}

/* Колонки */

.row {
    display: flex;
    text-align: center:
}
.col {
    flex: auto;
    text-align: center:
}


/* Потом селекторы по классам */

.text-input {

}

.button {
    margin: 10px 0px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    margin: 10px 0px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    background: dodgerblue;
    color: white;

}


/* Страничка жанров и тегов */

.genre-first {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: aquamarine;
    border-radius: 5px;
    width: 100%;
}

.genre-second {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: lightblue;
    border-radius: 5px;
    width: 80%;
}

.genre-third {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: papayawhip;
    border-radius: 5px;
    width: 60%;
}

.genre-fourth {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: thistle;
    border-radius: 5px;
    width: 40%;
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    margin: 10px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
}
